.header {
    display: flex;
    justify-content: space-between;
}

.cofy-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
}



.ul-wrap {
    display: flex;
    margin-top: 30px;


}

.li-item {
    margin-right: 30px;
}

.li-item:hover {
    color: orange;
}

.cafe-img {
    margin-top: 20px;
    background-image: url(/Users/uozumikazuma/Desktop/cafe/img/pancake.jpg);
    height: 600px;

    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
}

.section-wrap {
    text-align: center;
    background-color: #faf0e6;
    height: 300px;
}

.concept {
    color: khaki;
    font-size: 40px;
    padding-top: 40px;
}

.concept-text {
    font-size: 25px;
    margin-top: 30px;
    color: #ffd700;
}

.title {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: darkorange;
}

.menu {
    margin-top: 60px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    /* margin-left: 10px; */
}

.menu-wrap {
    justify-content: space-around;
    display: flex;
}

.text-center {
    text-align: center;
    margin-top: 50px;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: white;
    color: orange;
    padding: 15px 30px;
    border: solid 1px orange;
    border-radius: 50px;
    transition: ease .2s;
    outline: none;
    overflow: hidden;
    margin-right: 20px;
}

.btn span {
    position: relative;
    z-index: 3;
    color: orange;
}

.btn:hover span {
    color: white;
}

.bg-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: orange;
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

.bg-right:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}


.menu-img:hover {
    opacity: 0.7;
    transition-delay: 0.3s;
}



.menu img {
    width: 300px;
    height: 300px;
}

.fruits {
    margin-top: 50px;
    background-image: url(/Users/uozumikazuma/Desktop/cafe/img/フルーツ.jpg);
    background-attachment: fixed;
    height: 600px;
    position: relative;
}

.fruits p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f8f8ff;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.access-wrap {
    background-color: #fffaf0;
}

.access {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

iframe {
    margin-top: 20px;
}

.access-table {
    margin-left: 50px;
    width: 600px;
    margin-top: 20px;

}

.access-row {
    border-bottom: solid 1px #000;

}

.subject {
    font-size: 20px;
    padding-top: 18px;
}

.data {
    font-size: 20px;
    padding-top: 18px;
}

.footer {
    background-color: #f0f8ff;
    padding: 30px 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.nav-access {
    margin-right: 60px;
    font-size: 18px;
    color: gray;
    margin-top: 30px;
}

.nav-access:hover {
    color: skyblue;
}

.copy-right {
    text-align: center;
    padding-top: 60px;
}


@media screen and (max-width: 678px) {
    .menu-wrap {
        display: block;

    }

    .menu-img {
        margin-top: 20px;
    }
}